@model System.Data.DataRow
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Forgot Password - Site Zoon</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="~/Content/images/favicon.ico">
   
    <link href="~/Content/css/bootstrap5.css" rel="stylesheet" />
    <link href="~/Content/css/style3.css" rel="stylesheet" />



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <form method="post">
        <div class="container pt-5">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">

                    <img src="~/Content/images/main.png" alt="Main IMG" class="img-fluid">
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 pt-5">
                    <h2 class="main-text pt-5 mt-5 mb-3">Change <br> Your Password</h2>
                    <span>Old Password</span>
                    <input type="text" placeholder="Enter Your old password" name="pass" readonly value="@Model["pass"]" class="form-control main-input mt-1">
                    <span class="mt-3 d-block">New Password</span>
                    <input type="password" placeholder="Enter Your new password" name="npass" class="form-control main-input mt-1">
                    <span class="mt-3 d-block">Confirm Password</span>
                    <input type="text" placeholder="Confirm Your password" name="cpass" class="form-control main-input mt-1">
                    <div class="row">
                        <div class="col-3">
                            <button class="btn btn-sz-primary mt-5" type="submit" value="submit">Reset</button>
                        </div>
                        <div class="col-6 pt-5">
                            <a href="/home/logout" class="back-to-login">Back To Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</body>

</html>